.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

body {
    margin-top: 50px;
    width: 90vw;
}

.nav {
    display: inline;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: grey;
    padding: 8px 5px;
}

img {
    width: 100%;
    max-width: 717px;
    height: auto;
}

@media (max-width: 400px) {
    body {
        font-size: 75%;
    }
}